html, body{
    height: 100%;
    margin: 0;
}

h2{
    color: #3B3B3B;
}

.container{
    align-items: center;
    justify-content: center;
    padding: 50px 100px 100px;
    min-height: 100%;
}


.sign_in_container{
    background: url("../img/BackGround.jpg") no-repeat center;
    background-size: cover;
    min-height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.signup_container{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 0;
    background: url("../img/BackGround.jpg") no-repeat center;
    background-size: cover;
    min-height: 100%;
    padding-bottom: 0;
}

.user_data{
    box-shadow: 0 0 12px 0;
    border-top: #1443FC solid 10px;
    background-color: white;
    width: 300px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.text-box{
    margin-bottom: 20px;
    padding: 10px 10px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #B2AED4;
    font-size: 14px;
    height: 20px;
    width: 200px;
}

.text-label{
    /*margin: 10px 10px 5px;*/
    margin-bottom: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    color: #44484A;
}

.date-label{
    font-size: larger;
    font-family: Forte;
    margin-right: 20px;
    margin-left: 10px;
    padding-bottom: 10px;

}

.sample_text{
    font-family: Gabriola;
    font-size: 20px;
    word-spacing: 3px;
}

#entry{
    box-shadow: 0 2px 6px 1px hsla(0, 0%, 0%, 0.2);
    margin: 20px 20px 10px 20px;
    padding: 30px 20px 30px 20px;
    border: 0;
    border-radius: 15px
}

.entry{
    box-shadow: 0 2px 6px 1px #294257;
    margin-bottom: 30px;
    padding: 30px 20px 30px 20px;
    border: 0;
    border-radius: 15px
}

.entry:hover{
    animation: pop 0.2s linear 1;
}

@keyframes pop {
    50% {transform: scale(1.01);}
}

.primary-btn{
    border-radius: 5px;
    background-color: blue;
    border: white solid 2px;
    color: white;
    padding: 10px 20px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.primary-btn:hover{
    background-color: white;
    border: blue solid 2px;
    color: blue;
}

.secondary-btn{
    border-radius: 5px;
    background-color: white;
    border: #A0B2C1 solid 2px;
    color: blue;
    padding: 10px 20px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.secondary-btn:hover{
    color: blue;
    background-color: #A0B2C1 ;
}

.edit-btn{
    background:white;
    border: 0;
    float: right;
}

.edit-btn:hover{
    border: 1px solid #1745FC;
}

.new-entry-btn{
    position: fixed;
    top: 90px;
    right: 30px;
    z-index: 99; /*make sure it doesnt overlap*/
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 70%;
    font-size: 18px;
}

.add{
    position: fixed;
    top: 90px;
    right: 30px;
    z-index: 99; /*make sure it doesnt overlap*/
    padding: 15px;
}

.calendar{
    margin-left: 25px;
}

ul.top-nav{
    list-style-type: none;
    margin: 0;
    padding-right: 80px;
    padding-left: 80px;
    overflow: hidden;
    background-color: #1745FC;
}
ul.top-nav li {float: left;}

ul.top-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

ul.top-nav li a:hover:not(.active)
{background-color: #FCD10F}

ul.top-nav li.right {float: right}

@media screen and (max-width: 600px) {
    ul.top-nav li.right,
    ul.top-nav li {float: none}
}
